@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:wght@200;300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Tektur', cursive;
}

.disabled-link {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: black;

}

body {
    overflow-x: hidden;
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.loader {
    height: 2px;
    width: 100vw;
    background-color: red;
    animation: load 1.5s forwards;
}

@keyframes load {
    0% {
        width: 0vw;
    }

    50% {
        width: 65vw;
    }

    70% {
        width: 87vw;
    }

    100% {
        width: 100vw;
    }
}

.header .logo-space {
    background-color: rgb(4, 82, 124);
    padding: 2.3% 0px;
}

.header .logo-space img {
    position: absolute;
    left: 21%;
    top: 1%;
    height: 12vh;
    border-radius: 5% 50%;
    box-shadow: rgb(4, 82, 124) 0px 50px 100px -35px, rgb(4, 82, 124) 0px 30px 60px -20px, rgb(4, 82, 124) 0px -2px 10px 0px inset;
}

.header .company-name {
    position: absolute;
    top: 3%;
    left: 28%;
    font-size: xx-large;
    font-family: 'Croissant One', cursive;
    color: #fff;
    cursor: pointer;
}

.header nav {
    z-index: 1;
}

.header nav ul {
    background-color: #a9d9ea;
    height: 7vh;
    width: 70vw;
    list-style-type: none;
    display: flex;
    padding: 0 23px;
    position: absolute;
    left: 30%;
    border-radius: 0 0 0 50px;
}

.header nav ul li {
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    cursor: pointer;
}

.header nav ul li:hover {
    background-color: rgb(4, 82, 124);
    color: white;
    border-radius: 25px;
}

.header nav ul a {
    text-decoration: none;
    color: black;
}

.header .nav-styler {
    background-color: #a9d9ea;
    height: 5vh;
}

.header .wrap .search {
    width: 100%;
    display: flex;
    position: relative;
    top: 5%;
    right: 10%;
}

.header .wrap .search .searchTerm {
    width: 100%;
    border: 3px solid rgb(4, 82, 124);
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: #9DBFAF;
}

.header .wrap .search .searchTerm:focus {
    color: #00B4CC;
}

.header .wrap .search .searchButton {
    width: 40px;
    height: 36px;
    border: 2px solid rgb(4, 82, 124);
    background: #ffa756;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.header .wrap {
    width: 30%;
    position: absolute;
    top: 13%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.gradient {
    background: linear-gradient(-90deg, #8e73f0, #23a6d5, #26a7ae);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 80vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient .content pre {
    font-size: 1.75rem;
    text-align: right;
    position: absolute;
    top: 25%;
    left: 6%;
}

.gradient .content .text pre {
    font-size: medium;
    position: absolute;
    top: 50%;
    left: 12%;
}

.gradient .content {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

.gradient .container .row {
    display: flex;
    flex-direction: row;
}

.gradient #about-text {
    font-family: 'Croissant One', cursive;
    font-size: xx-large;
    position: absolute;
    top: 20%;
    left: 42%;
    color: rgb(4, 82, 124);
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 15% 6%;
}

.about-content-title {
    flex: 1;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgb(4, 82, 124) 0px 50px 100px -20px, rgb(4, 82, 124) 0px 30px 60px -30px, rgb(4, 82, 124) 0px -2px 6px 0px inset;
}

.about-content-heading {
    font-size: 1.5rem;
    color: #333;
}

.about-content-text {
    font-size: 1rem;
    color: #666;
}

.gradient .about-content .about-content-title p {
    font-family: 'Raleway', cursive;
    font-size: large;
    font-weight: 800;
    font-style: italic;
}

.footer {
    height: 20vh;
    width: 100vw;
    background-color: #a9d9ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .copyright p {
    padding: 16px;
    font-family: 'Croissant One', cursive;
    font-size: xx-large;
}

.footer .copyright #footer-copyright {
    font-size: medium;
}

.footer .social-media {
    height: 10vh;
    align-items: center;
    row-gap: 5%;
    padding: 0% 2% 0 2%;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer .social-media a {
    text-decoration: none;
    margin: 0 10px;
}